pkgbase = demo
	pkgver = 1.0.0
	pkgrel = 1
	arch = x86_64
	depends = glibc
	source = https://example.com/demo-1.0.0.tar.gz
	sha256sums = aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
pkgname = demo
